services:
  caddy:
    build: .
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "2015:2015"
      - "2019:2019"
      - "443:443/udp"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./site:/srv
      - ./Caddyfile:/etc/caddy/Caddyfile
    environment:
      PORT: 2019
volumes:
  caddy_data:
  caddy_config:
