<!DOCTYPE html>
<html lang="en">

{{ include "./templates/head.html" }}
<body>
  {{ include "./templates/nav.html" "feed"}}
  <div class="left-side"></div>
  <main>
    <article aria-labelledby="feed-heading" class="blog margin-top-lg">
      <h1 id="feed-heading">Feed</h1>
      
      <div class="posts-list">
        {{ $files := listFiles "./posts" }}
        {{ range $idx, $file := reverse $files }}
          {{ $content := include (nospace (cat "/posts/" $file)) }}
          <!-- Find the first HTML comment which contains metadata -->
          {{ $parsed := splitFrontMatter $content }}
          <!-- Remove HTML comments to get just the post content -->
          
          {{ if $parsed}}
            <!-- Extract the metadata text by removing comment markers -->
            <!-- Extract specific metadata using regex: 
                 findRE "title: (.*)" - matches "title: " followed by any characters 
                 The 1 limits to first match -->
            {{ $title := $parsed.Meta.title }}
            {{ $date := $parsed.Meta.date }}
            {{ $tags := $parsed.Meta.tags }}
            
            <section class="blog post-item">
              <h2><a href="/post/{{ $file }}">{{ $title }}</a></h2>
              <div class="post-meta mono">
              <time datetime={{ $date }}>{{ $date | htmlDate }}</time>
                {{ if $tags }}
                  <span class="post-tags">{{ $tags }}</span>
                {{ end }}
              </div>
              <div class="post-content">
                {{ $parsed.Body }}
              </div>
            </section>
          {{ end }}
        {{ end }}
      </div>
    </article>
  </main>
  <div class="right-side"></div>
  {{ include "./templates/footer.html" }}
</body>
</html>
